<div class="main">


  <div class="container">
<div class="middle">
    <div id="landing">

      <form>

        <fieldset class="clearfix">

          <p ><span class="fa fa-search"></span><button routerLink="user" class="btn btn-info">Search User</button>

           <div>

                          </div>

        </fieldset>
<div class="clearfix"></div>
      </form>

      <div class="clearfix"></div>

    </div>
    <div class="logo">
      Git-Search

        <div class="clearfix"></div>
    </div>

    </div>
  </div>
