
 <div class="container" *ngIf="users"> <!--ngif checks if the profile exist-->
  <div class="card">
    <div  style="text-align:center; color:red">{{us.user$.name}} <!--displays nam--> <small>({{us.user$.login}}) <!--displays username--></small></div>

    <div class="row">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-1">
          </div>
          <div class="col-sm-4">
            <img src="{{us.user$.avatar_url}}" width="350" height="350" >
          </div>
          <div class="col-sm-2">
          </div>
          <div class="col-sm-5">
            <ul class="list-group">
              <li class="list-group-item">
                <h5>
              <span class="badge badge-secondary" style="margin:6px;" >{{us.user$.followers}} Followers</span>
              <span class="badge badge-primary" style="margin:6px;">:{{us.user$.following}} Follows</span>
              <span class="badge badge-success" style="margin:6px;">{{us.user$.public_repos}} Public Repos</span>


            </h5></li>

              <li  *ngIf="users.bio">{{us.user$.bio}}</li>
              <li class="list-group-item" *ngIf="users.company"> Works at {{us.user$.company}}</li>
              <li class="list-group-item" *ngIf="users.hireable">Available for hire</li>

              <li class="list-group-item" *ngIf="users.location">Currently lives in {{us.user$.location}}</li>
              <li class="list-group-item" *ngIf="users.email"><a target="_blank" href="emailto:{{us.user$.email}}">{{us.user$.email}}</a></li>
              <li class="list-group-item badge" *ngIf="users.html_url"><a target="_blank" href="{{us.user$.html_url}}">View profile on Github</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header display-4" style="text-align:center; color:maroon">{{us.user$.login}}'s repositories</div>
    <div class="card-body" *ngFor="let repository of us.repositories; let i=index">
      <ul>
        <li>
        <h5 appUnderline class="clearfix">{{repositories[i].name}}<a href="{{repositories.html_url}}" target="_blank" class="btn btn-sm btn-outline-primary float-right"> View on Github</a></h5>
      <p style="font-style:italic;">{{repositories[i].description}}</p>
      </li>
    </ul>
      <hr>
    </div>
  </div>
</div>

</div>
